/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.02.2016, 09:23:27
    Author     : Eva
*/
#aboutlabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
#aboutheader {
    -fx-alignment: CENTER;
}
#updatebox {
    -fx-alignment: CENTER;
}
#clienttext {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
#clientbox {
    -fx-alignment: CENTER;
}
#clientbottom {
    -fx-alignment: center-right;
}
#preferencestext {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
